doctype html
html
  head
    title About
    include partials/head.partial.pug
  body
    .wrapper
      include partials/header.partial.pug
      div(id="main")
        h1 Vinograd
    include partials/scripts.partial.pug
