doctype html
html(lang="en")
  head
    title Vinograd - index
    include partials/head.partial.pug
  body
    .wrapper
      include partials/header.partial.pug
      div(id="main").index-main
        .hero
          .container.center-block.hero-content.flex
            .headline 
              h1 Vinograd
    include partials/scripts.partial.pug
