<doctype html>
<html lang="<%= lang %>" dir="<%= lang_dir %>">
  <head>
    <title><%= gettext('Winery') %> - <%= gettext('Services') %></title>
    <% include ./partials/head.partial.ejs %>
  </head>
  <body>
    <div class="wrapper">
      <% include ./partials/header.partial.ejs %>
      <div id="main" class="index-main">
        <div style="background-color: brown; height: 1000px"></div>
      </div>
    </div>
    <% include ./partials/scripts.partial.ejs %>
  </body>
</html>
