header
  height: 80px
  z-index: 1
  background-color: transparent
  transition: all .15s ease-in-out
  &.header-transition
    background-color: white
    color: #333
  .container
    border-bottom: 2px solid transparentize(white, .4)
    padding: 0 10px
    h1.logo
      padding: 10px
      line-height: 1.5em
    nav ul
      li
        padding: 10px
        line-height: 1.5em
        a
          text-decoration: none
          cursor: pointer
          color: #333