.index-main
  .hero
    background:
      image: url('../images/hero.jpg')
      color: transparentize(brown, 0)
      size: cover
      position: top -20px
    height: 100vh
    .hero-content
      height: calc(100% - 80px)
      padding-top: 80px
      .headline
        width: 30vw
        background: 
          color: #D6D65D