<footer class="flex flex--column flex--center">
    <div class="footer-content flexible">
    </div>
    <hr style="width:90%"/>
    <div class="created-by self--center">
       <span>Created by <a href="mailto:drazen.buljovcic@gmail.com">Dražen Buljovčić</a> 2017</span>
    </div>
</footer>