header.fixed.width-100
    .container.flex.center-block
        h1.logo.flexible LOGO
        nav.flex
            ul.flex.flex--center
                li.inline: a(href="/") HOME
                li.inline: a(href="/about") ABOUT